<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.sentence.mapper.mybatis">

	<!-- 나은 매퍼 -->
	<select id="selectHashtagList" resultType="java.lang.String">

		select hashtag,
		count(*) count
		from (select oneSentenceIdx from liketo where userIdx =
		#{param}
		union all
		select oneSentenceIdx from one_sentence where userIdx
		= #{param}) as pr1,
		hashtag
		where
		pr1.oneSentenceIdx=hashtag.oneSentenceIdx
		group by hashtag
		order by
		count desc, hashtag asc
		limit 0,10;

	</select>

	<select id="selectFollower"
		resultType="com.one.sentence.following.model.Following">
		select * from following where userIdx=#{userIdx} and
		followingUserIdx=#{followingUserIdx};
	</select>

	<insert id="insertFollower">
		insert into following(userIdx, followingUserIdx)
		values(#{userIdx}, #{followingUserIdx});
	</insert>

	<delete id="deleteFollower">
		delete from following where userIdx=#{userIdx} and
		followingUserIdx = #{followingUserIdx};
	</delete>


	<!-- 재진 매퍼 -->

	<insert id="insertUser"
		parameterType="com.one.sentence.common.vo.UserVo"
		useGeneratedKeys="true" keyProperty="userIdx">
		insert into user_info
		(userName,
		userEmail,
		userPassword)
		value ( #{userName}, #{userEmail},
		#{userPassword} )
	</insert>

	<select id="selectUserByEmail"
		resultType="com.one.sentence.common.vo.UserVo">
		select userIdx, userName,
		userEmail, userPassword from
		user_info where userEmail = #{param}
	</select>

	<delete id="deleteUser">
		delete from user_info where userIdx = #{userIdx}
	</delete>

	<!-- 한문장 정보 가져오기 -->
	<select id="selectOneSentence"
		resultType="com.one.sentence.common.vo.OneSentence">
		select * from one_sentence where oneSentenceIdx=#{param}
	</select>

	<!-- 좋아요 표시 여부 확인, 없을 시 0 반환. -->
	<select id="selectLikedSentence" parameterType="map"
		resultType="Integer">
		select likeIdx from liketo where
		userIdx=#{userIdx} and
		oneSentenceIdx=#{oneSentenceIdx}
	</select>

	<!-- 좋아요 표시 -->
	<insert id="insertLikedSentence" parameterType="map">
		insert into
		liketo (userIdx, oneSentenceIdx) value (#{userIdx}, #{oneSentenceIdx})
	</insert>

	<!-- 좋아요 표시 취소 -->
	<delete id="deleteLikedSentence" parameterType="map">
		delete from
		liketo where userIdx=#{userIdx} and oneSentenceIdx=#{oneSentenceIdx}
	</delete>


	<!-- 은선 매퍼 -->



	<!-- 다혜 매퍼 -->




</mapper>