<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.sentence.mapper.mapper">

	
	<select id="selectUserList"
			resultType="java.lang.String">
			select u.userName from user_info u where userName like #{param};
	</select>
	
	<select id="selectHashtagList"
			resultType="com.one.sentence.search.model.SearchHashtagModel">
			select u.userName, o.oneSentence, o.page, o.oneSentenceRegisteredTime, b.bookTitle, b.author, b.publisher
			from user_info u, one_sentence o, book b, hashtag h 
			where u.userIdx=o.userIdx and o.isbn=b.isbn and o.oneSentenceIdx=h.oneSentenceIdx 
			and hashtag like #{param} order by o.oneSentenceRegisteredTime;
	</select>
	
	<select id="selectFollowingNewsList"
			resultType="com.one.sentence.search.model.SearchHashtagModel">
			select u.userName, o.oneSentence, o.page, o.oneSentenceRegisteredTime, 
			b.bookTitle, b.author, b.publisher 
			from user_info u, one_sentence o, book b, following f 
			where u.userIdx=o.userIdx and o.isbn=b.isbn and 
			u.userIdx=f.userIdx and f.userIdx=4 and f.followingUserIdx=2 order by o.oneSentenceRegisteredTime;
	</select>
	
</mapper>